body{
    margin: 0;
    padding: 0;
    background-color: #222;
    color: greenyellow;
    height: 100vh;
    overflow: hidden;
}
.converter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#decimal-output{
    font-size: 120px;
    margin: 50px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              
}
#decimal-output::after{
    content: "(10)";
    color: seagreen;
    vertical-align: sub;
    font-size: 30px;;
}
#binary {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
}
#binary label {
    margin: 10px;
    font-size: 20px;
}
#warning{
    z-index: 99;
    padding: 20px;
    color: white;
    position: fixed;
    background-color: slategray;
    opacity: 0;
    transition: opacity 0.6s;
    width: 100%;
}
.closebtn{
    z-index: 100;
    margin-left: 15px;
    font-size: 22px;
    cursor: pointer;
    position: fixed;
    right: 10px;
    top: 5px;
}
.closebtn:hover{
    color: black;
}